@font-face {
  font-family: medal;
  src: url("./Fonts/911porschav33d.ttf");
}

h1 {
  font-family: medal;
}

.App {
  text-align: right;
  background-image: url("./Logo/Logo.jpeg");
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
  margin-top: 15px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
