@font-face {
  font-family: medal;
  src: url("./Fonts/911porschav3expandital.ttf");
}

h1 {
  font-family: medal;
  text-align: center;
}

video {
  cursor: pointer;
}

.App-header {
  background-color: #282c34;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
